@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Questionaire</a></li>
                <li class="breadcrumb-item active">Login</li>
            </ol>

        </div>
        <div class="row">
            <div class="center-margin col-lg-8">

                <div class="card card-default">
                    <div class="card-header ">
                        <div class="card-title">
                            Enter your email and password to login to your account
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div class="form-group form-group-default required">
                                <label>Email</label>
                                <input asp-for="Email" type="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-default required">
                                <label>Password</label>
                                <input asp-for="Password" type="password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox ">
                                    <input asp-for="RememberMe" type="checkbox" value="1" id="checkbox1">
                                    <label for="checkbox1">Keep Me Signed in</label>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success btn-cons">Login</button>
                            </div>
                            <br />
                            <div>
                                <p>Don't have an account yet? <a asp-action="Register" asp-controller="Account">Register now for free</a></p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
